.header
  .wrapper
    .title
      Werewolf narrator
.fake_header_border

.wrapper
  .phase_content
    = form_tag("/game", method: "get") do
      = text_field_tag(:player_name)
      = submit_tag("Join")

    - if @game
      .game_info
        Game in Progress
        = form_tag("/game", method: "delete") do
          = submit_tag("Stop Game")
