.assign_roles_phase
  .text
    .role
      = "You are a #{@player.role}"
  .show.button
    Show Role
  - if !@player.response
    .ready.button
      Ready
  - else
    .ready
      Waiting for other players:
      .count
        = "#{@game.players.count{|player| player.response}}/#{@game.num_players}"
